.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    background-color: #469165;
    padding: 12.5px 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}
.section-heading{
    text-align: center;
    margin: 0 auto;
}
.section-heading h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
    
}
.section-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px; 
    margin-bottom: 44px;
    

}

nav{
    display: flex;
    padding: 16px 120px 16px 120px;
    width: 85%;
    max-width: 1360px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style-type:none;
    align-items: center;
    padding: 16px 346px;

}
.menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
#banner{
    background-image: url(./assets/hero-bg.png);
    width: 100%;
    max-width: 1600px;
    height: 674px;
    vertical-align: middle;
    margin: 0 auto;
    
}
#banner .banner-container{
    width: 85%;
    max-width: 1360px;
    padding: 70px 120px 225px;
    

    
}
#notes{
    padding: 0 120px;
}
.note-box{
    display: flex;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-around;
    gap: 24px;
}
 .note-card{
    max-width: 320px;
    border-radius: 8px;
    box-shadow:0px 0px 8px #00000021;
    padding: 24px;
   

}
 
 .img{
    background-color: #F95555;
    padding: 14px;
     width: 60px;
     border-radius: 50px;
     margin: auto;
 }
 .note-card h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
 }
.note-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    text-align: center;

}

  /* padding: 30px; */
        
        /* box-shadow:0px 6px 50px 0px #00000020  */
        /* border-radius: 30px; */
          /* border: 1px solid #FFF8F3 ; */
          /* margin-bottom: 130px; */
        
     /* }
     .skill-card:hover{
        box-shadow:0px 6px 50px 0px #00000020 ;
        border-radius: 30px;
        animation: 0.5s ;
        cursor: pointer;
        background-color: #FFF8F3;
        border: 1px solid #FFF8F3 ; */
