.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    background-color: #469165;
    padding: 12.5px 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}

.h1{
     font-size: 48px;
    font-weight: 700;
    margin-top: 20px ;
    margin-bottom: 16px;
    color: #001931;
}

 



.section-heading{
    text-align: center;
    margin: 0 auto;
}
/* .section-heading h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
    
} */
.section-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px; 
    margin-bottom: 40px;
    

}

nav{
    display: flex;
    padding: 16px 120px 16px 120px;
    width: 85%;
    max-width: 1360px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style-type:none;
    align-items: center;
    padding: 16px 346px;

}
.menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
#banner{
    background-image: url(./assets/hero-bg.png);
    width: 100%;
    max-width: 1600px;
    height: 674px;
    vertical-align: middle;
    margin: 0 auto;
    
}
.banner-text p{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 32px;

}
.banner-text h1{
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    padding: 0 295 16;
    margin-bottom: 16px;

}
.green{
    color: #30B868;
    margin-bottom: 16px;
}
.banner-container{
    width: 85%; 
    max-width: 1360px;
    padding: 70px 120px 309px;
    margin: 0 auto;
    vertical-align: middle;
    justify-content: center;
  
}
#banner .banner-heading{
    text-align: center;
    margin: 0 auto;
    max-width: 240px;
    background-color: #FFFFFF;
    padding: 12px 12px 12px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 100px;
    color: #469165;
    margin-bottom: 16px;
}
#banner .btn1{
    background-color: transparent;
     padding: 12.5px 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    border:1px solid white ;
    width: 198px;

}
.banner-container .button{
    display: flex;
    gap: 16px;
    width: 34%;
    max-width: 465px;
    margin: 0 auto;
    justify-content: center;
}

#notes{
    padding: 0 120px;
}
.note-box{
    display: flex;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-around;
    gap: 24px;
}
 .note-card{
    max-width: 320px;
    border-radius: 8px;
    box-shadow:0px 0px 8px 6px #00000011;
    padding: 24px;

}
 
 .note-img{
    background-color: #F95555;
    padding: 14px;

     width: 18%;
     max-width: 60px;
     max-height: 60px;
     border-radius: 100px;
     margin: auto;
    
 }
 .img{
    width: 53%;
    max-width: 32px;

    
 }
 .note-card h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
 }
.note-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    text-align: center;
}
#solution{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-around;
    gap: 60px;
    padding: 120px;
    max-height: 600px ;

}
#solution .solution-container{
    display: flex;
    gap: 60px;
    justify-content: space-between;
}
.solution-container.solution-img{
    width: 44%;
    max-width: 600px;
}
.solution-container .solution-content{
    width: 51%;
    max-width: 700px;
    margin: 102px 0px ; 

}
.green2{
    color: #30B868;
    line-height: 20px;
    font-weight: 500;
    font-size: 16px;
    
}
.solution-content h1{
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px ;
    margin-bottom: 16px;
    color: #001931;
    
}
.solution-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
    text-align: left;
    color: #627382;
}
.solution-content .solution-list{
    display: flex;
    gap: 6px;

}
.solution-list{
     color: #001931;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;

}
#challenge{
    width: 85%;
    max-width: 1360px;
    margin:0 auto ;
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 11px;

}
#challenge .challenge-container{
    padding: 80px 40px;


}
#challenge .challenge-heading p{
     font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
    color: #627382;

}
.challenge-btn{
     background-color: #469165;
    padding:16px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    margin-bottom: 12px;
    box-shadow: 0px 10px 20px #00000023;
}
.challenge-more{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;

}
